includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    level: 3

    excludePaths:
        - ./app/Providers/AuthServiceProvider.php

    checkMissingIterableValueType: false
